<%= stylesheet_link_tag "bootstrap.css" %>

<h1 align="center">How does CouponCorner's Printable Coupons work?</h1><br/>

<div id = "container" text-align = "center">

<h4>Using CouponCorner to print coupons is simple.</h4>
<p>Just follow these steps and you'll be on your way to saving on the things you use every day:</p>
<ul>
  <li color = "0e9ffb">Browse our gallery of Printable Coupons.</li>
  <li color = "0e9ffb">Register with the site by clicking "Sign Up"</li>
  <li color = "0e9ffb">Click on the offers you'd like to print.</li>
  <li color = "0e9ffb">Once you're done selecting offers, make sure your printer is on. <br/>
    Then, click the "Print" button on CouponCorner.ie. <br/>
    A print coupon page will apear where you can print off your coupon. <br/>
  <li color = "0e9ffb">Take your coupons to the store and save. That's it!</li>
</ul>
<div class="about"> <%=  image_tag("Browse_Print_Save2.png") %>
</div>
<br/>
<h4>Wait, that sounds too good to be true! </h4>

<p>It's almost like printing free money with your home computer, too good to be true, but it's not. <br/>
  CouponCorner.ie is paid by leading brands to distribute great offers to you. While it's true that <br/>
  there's something in it for us, we definitely don't benefit at your expense. We won't follow you <br/>
  around the Internet. You won't get pop-up ads from us. And we loathe Spam. We will never sell your <br/>
  name or information (privacy policy), and we will only send you emails if you sign up for them. </p>

  </div>
